SIMPLESAMLPHP_HOST_PORT=19443
SIMPLESAMLPHP_ADMIN_PASSWORD=StandaloneIAM!SimpleSAMLAdmin2026
SIMPLESAMLPHP_SP_ENTITY_ID=https://127.0.0.1:19443/simplesaml/module.php/saml/sp/metadata.php/default-sp
SIMPLESAMLPHP_SP_ACS_URL=https://127.0.0.1:19443/simplesaml/module.php/saml/sp/saml2-acs.php/default-sp
IDP_SAML_SP_TARGET_BASE_URL=http://127.0.0.1:4000
IDP_SAML_SP_CLIENT_ID=saml-test-service-provider-live-local
IDP_SAML_SP_METADATA_URL=https://127.0.0.1:19443/simplesaml/module.php/saml/sp/metadata.php/default-sp
